[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pynacl = "1.6.0"
py-cord = {editable = true, ref = "v2.7.0rc2", git = "https://github.com/Pycord-Development/pycord.git"}

[dev-packages]

[requires]
python_version = "3.10"
